<%- include('partials/header') %>

    <div class="container">
        <aside id="fh5co-hero" class="js-fullheight">
        <video autoplay loop id="bgvid" style="z-index: -300;">
            <source src="images/vid2.mp4" type="video/mp4">
        </video>
        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text animated fadeInUp" style="height: 385px;">
                        <div class="slider-text-inner">
                            <h2><br><br><br><br><br><br><br><br><br><br><font color='white' style='text-shadow: 1px 1px 10px #000';>Start Connecting the Dots</font></h2>
                            <p><a href="register" class="btn btn-primary btn-lg">Get started</a></p>
                        </div>
                    </div>
                    </aside>

    </div>

<!-- What we do -->
    
    <div id="fh5co-services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                    <h2>Our Awesome Features</h2>
                    <p>What we can offer you or whatevs </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-laptop"></i>
                        <div class="desc">
                            <h3>Website</h3>
                            <p>Absolutely its a website, bit of this bit of that, who wouldn't want to, thats what we say anyway. We try and we try
                            but we just can't.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-server"></i>
                        <div class="desc">
                            <h3>Administration</h3>
                            <p>Everything, EVERYTHING, and I mean, E-V-E-R-Y-T-H-I-N-G goes 
                            through our highly inefficent and heavily bureaucratic system</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-money"></i>
                        <div class="desc">
                            <h3>Make Money</h3>
                            <p>No no, woah, hold up there a minute now, no. YOU don't make
                            any money, or anthing remotely like. Not at all. WE make the fuckin money</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-tablet"></i>
                        <div class="desc">
                            <h3>Monitoring</h3>
                            <p>Shit yeah, ain't nohting private on this site, we be reading ur mails, going through your offers, and selling your name and address to the highest bidder.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-line-chart"></i>
                        <div class="desc">
                            <h3>Online Marketing</h3>
                            <p>Holla bro, we guna be targeting the shit outa ur ass, u in trouble bitch, aint nowhere to run to, no where you can hide.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-pie-chart"></i>
                        <div class="desc">
                            <h3>Business Analytics</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Venues -->    
    <div id="fh5co-work-section" class="fh5co-light-grey-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_7.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">The Olympia</h3>
                                <h5 class="category"></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_8.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Three Arena</h3>
                                <h5 class="category">Don't give up the day job</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_9.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">JJs</h3>
                                <h5 class="category">Energetic punk music</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_10.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">The Mezz</h3>
                                <h5 class="category">Old school rock jam</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_11.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Button Factory</h3>
                                <h5 class="category">Nocturnal synthetic sounds</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_12.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">The Art House</h3>
                                <h5 class="category">Awful .. fuck</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div id="fh5co-testimony-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                    <h2>Clients Feedback</h2>
                    <p>And now a word from our sponsors.. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-offset-0 to-animate">
                    <div class="wrap-testimony animate-box">
                        <div class="owl-carousel-fullwidth">
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="images/person1.jpg" alt="user">
                                    </figure>
                                    <blockquote>
                                        <p>"Maybe this bit can be about the calendar and all of that"</p>
                                    </blockquote>
                                    <span>Chris Carrera, via <a href="#" class="twitter">Twitter</a></span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="images/person2.jpg" alt="user">
                                    </figure>
                                    <blockquote>
                                        <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                    </blockquote>
                                    <span>Nathalie Kosley, via <a href="#" class="twitter">Twitter</a></span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="images/person3.jpg" alt="user">
                                    </figure>
                                    <blockquote>
                                        <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                    </blockquote>
                                    <span>Yanna Kuzuki, via <a href="#" class="twitter">Twitter</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Acts -->

    <div id="fh5co-work-section" class="fh5co-light-grey-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_1.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">U2</h3>
                                <h5 class="category">Shitty rock band hailing from Dublin</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_2.png)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Justice League</h3>
                                <h5 class="category">Don't give up the day job</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_3.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Blows Before Hoes</h3>
                                <h5 class="category">Energetic punk music</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_4.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Astro Plantain</h3>
                                <h5 class="category">Old school rock jam</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_5.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Heart Beep</h3>
                                <h5 class="category">Nocturnal synthetic sounds</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="#" class="item-grid text-center">
                        <div class="image" style="background-image: url(images/image_6.jpg)"></div>
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Slinkin park</h3>
                                <h5 class="category">Awful .. fuck</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div id="fh5co-pricing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                    <h2>Pricing</h2>
                    <p>Here it comes bitches</p>
                </div>
            </div>
            <div class="row">
                <div class="pricing">
                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan">Starter</h2>
                            <div class="price"><sup class="currency">$</sup>9<small>/month</small></div>
                            <p>That's less than spotify bro. Spotify is recordings, this is REAL FUCKING LIFE YO </p>
                            <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                        </div>
                    </div>

                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan">Basic</h2>
                            <div class="price"><sup class="currency">$</sup>27<small>/month</small></div>
                            <p>Seems a bit much right? YEah I know it is, but you wont think its so bad when you see the next batch of bullshit prices </p>
                            <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                        </div>
                    </div>

                    <div class="col-md-3 animate-box">
                        <div class="price-box popular">
                            <h2 class="pricing-plan pricing-plan-offer">Pro <span>Best Offer</span></h2>
                            <div class="price"><sup class="currency">$</sup>74<small>/month</small></div>
                            <p>Pretty steep rake by the house, you've gone to high, turn the fuck around and go back one space </p>
                            <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                        </div>
                    </div>

                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan">Unlimited</h2>
                            <div class="price"><sup class="currency">$</sup>140<small>/month</small></div>
                            <p>So check this out I know what you're thinking, bro... HOW THE FUCK DOES THIS COST THIS FUCKING MUCH? Dont buy this one frankly, you're getting ripped off </p>
                            <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fh5co-cta" style="background-image: url(images/slide_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="col-md-12 text-center animate-box">
                <h3>You're still here?? GET THE FUCK OUT OF HERE</h3>
                <p><a href="register" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>