<h1>Band Admin Site</h1>

Hi {{vm.user.firstName}}<br><br>
 <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="alert alert-dismissable alert-success">
              <b>Latest</b>
              <br>
            </div>
            <ul class="media-list">
              <li ng-repeat="post in vm.posts | orderBy:'-date_created' | limitTo:3" class="media">
                <div class="media-body">
                  <h4 class="media-heading">{{post.title}}</h4>
                  <p>{{post.date_created | date: 'short'}} | {{post.summary}}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="alert alert-dismissable alert-warning">
              <b>Watched</b>
              <br>
            </div>
            <ul class="media-list">
              <li ng-repeat="post in vm.posts | watchedFilter:vm.user.tendersWatched | limitTo:3" class="media">
                <div class="media-body">
                  <h4 class="media-heading">{{post.title}}</h4>
                  <p>{{post.date_created | date: 'short'}} | {{post.summary}}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="alert alert-dismissable alert-info">
              <b>Messages</b>
              <br>
            </div>
           <ul class="media-list">
              <li ng-repeat="message in vm.mail.inbox | orderBy:'-date_created' | limitTo:3" class="media">
                <div class="media-body">
                  <h4 class="media-heading">{{message.title}}</h4>
                  <span ng-if="(message.read=='false')" class="label label-primary">Unread</span><b>&nbsp;{{message.subject}}</b>&nbsp;| {{message.from}}</h4>
                    <p>{{message.sent_date| date:'short'}}</p>
                    <p>{{message.content}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

       <!-- Bands and Venues -->
      <div class="row">
          <div class="col-md-4">
            <div class="alert alert-dismissable alert-success">
              <b>Venues</b>
              <br>
            </div>
            <ul class="media-list">
              <li ng-repeat="post in vm.venues| limitTo:3" class="media">
                <div class="media-body">
                  <h4 class="media-heading">{{post.venueName}}</h4>
                  <p>{{post.venueDescLong}}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="alert alert-dismissable alert-warning">
              <b>Acts</b>
              <br>
            </div>
            <ul class="media-list">
              <li ng-repeat="post in vm.acts " class="media">
                <div class="media-body">
                  <h4 class="media-heading">{{post.actName}}</h4>
                  <p>{{post.actDescLong}}</p>
              </li>
            </ul>
          </div>
      </div>
    </div>