<h1>
{{vm.post.title}}</h1><button class="btn btn-primary" ng-click="vm.saveUser()">Edit</button>
            <button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
            <br><br>

<div class="col-md-12">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#"><img class="center-block img-circle img-responsive" src="app-content/images/pic1.jpg" height="64" width="64"></a>
            <div class="media-body">
                <h4 class="media-heading">
                    <b> {{vm.post.user}}</h4>
                <p>
                    <img src="app-content/images/rating1.png" style="height:20px;">
                    <br>{{vm.post.date | date:'medium'}}</p>
                <p>{{vm.post.content}}</p>
            </div>
        </li>
    </ul>
</div>