<h1>Messaging</h1>

<div ng-repeat="message in vm.mail.inbox | orderBy:'-sent_date'" class="col-md-12">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#"><img class="center-block img-circle img-responsive" src="app-content/images/pic1.jpg" height="64" width="64"></a>
            <div class="media-body">
                <h4 class="media-heading">
                    <span ng-if="(message.read=='false')" class="label label-primary">Unread</span><b>&nbsp;{{message.subject}}</b>&nbsp;| {{message.from}}</h4>
                    <p>{{message.sent_date| date:'short'}}</p>
                    <p>{{message.content}}</p>
            </div>
        </li>
    </ul>
</div>